//_colors.scss

/* body text color */
$textcolor: #62645c;

/* default link color */
$linkcolor: #545454;

/* color of link on hover */
$linkhovercolor: #7EA29A;

/* color of link on hover */
$brandlinkhovercolor: black;

/* background color of body */
$lightgrey1: #f4f4f4;

$lightgrey2: #ededed;

$medgrey: #ccc;

$warmgrey1: #686258;

$transgrey-1: rgba(186,186,186,0.7);
