//_palette.scss

.palette-grey05 {
  color: #f6f6f6;
}

.palette-grey10 {
  color: #ebebeb;
}

.palette-grey15 {
  color: #dedede;
}

.palette-grey20 {
  &.palette-inverse {
    background-color: #cfcfcf;
  }
  color: #cfcfcf;
}

.palette-grey30 {
  color: #acacac;
}

.palette-grey40 {
  color: #999999;
}

.palette-grey50 {
  color: #7c7c7c;
}

.palette-grey60 {
  color: #6b6b6b;
}

.palette-grey70 {
  color: #5b5b5b;
}

.palette-grey80 {
  color: #474747;
}

.palette-blue {
  color: #686258;
  &.palette-inverse {
    background-color: #686258;
  }
}

.palette-coral {
  color: #f04e55;
  &.palette-inverse {
    background-color: #f04e55;
  }
}

.palette-burgundy {
  color: #6d2330;
  &.palette-inverse {
    background-color: #6d2330;
  }
}

.palette-grey {
  color: #b0aca8;
  &.palette-inverse {
    background-color: #b0aca8;
  }
}

.palette-lime {
  color: #80c342;
  &.palette-inverse {
    background-color: #80c342;
  }
}

.palette-inverse {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  a {
    color: #fff;
  }
}

a.palette-inverse {
  &:hover, &:focus {
    color: #fff;
  }
}