			<footer class="footer" itemscope itemtype="http://schema.org/Organization">
				<div class="row">
					<!-- <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/467352115531108352/DJYM3Jm7.jpeg" alt="My Logo" /> </div> -->
					<a class="footer-brand col-sm-4" href="/14-redesign/ideas-post.html" itemprop="name">JOEL<strong>DOMBEK</strong></a>
					<div class="col-xs-6 col-sm-2">
						<ul class="list-unstyled">
							<li><a href="/14-redesign/ideas-post.html"><span class="icon-envelope-alt"></span> General</a></li>
							<li><a href="/14-redesign/ideas-post.html"><span class="icon-envelope-alt"></span> New Business</a></li>
							<li><a href="/14-redesign/ideas-post.html"><span class="icon-envelope-alt"></span> Press</a></li>
						</ul>
						<ul class="list-unstyled">
							<li><a href="/14-redesign/ideas-post.html" target="_blank"><span class="icon-facebook"></span> Facebook</a></li>
							<li><a href="http://twitter.com/joeldombek" target="_blank"><span class="icon-twitter"></span> Twitter</a></li>
							<li><a href="/14-redesign/ideas-post.html" target="_blank"><span class="icon-linkedin"></span> LinkedIn</a></li>
						</ul>
						<ul class="list-unstyled">
							<li><small><a href="/14-redesign/ideas-post.html">Privacy Policy</a></small></li>
							<li><small><a href="/14-redesign/ideas-post.html">Terms of Service</a></small></li>
						</ul>
						<p><small>&copy;2006–2014 Joel Dombek</small></p>
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="row">
							<div class="col-sm-4">
								<address itemscope itemtype="http://schema.org/LocalBusiness">
									<a href="/14-redesign/ideas-post.html"><strong itemprop="name">San Francisco</strong></a><br>
									<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<span itemprop="streetAddress">585 Howard Street<br>Ground Floor</span><br>
										<span itemprop="addressLocality">San Francisco</span>,
										<span itemprop="addressRegion">CA</span>
										<span itemprop="postalCode">94105</span>
									</span><br>
									<span itemprop="telephone">+1.415.901.6300</span>
								</address>
							</div>
							<div class="col-sm-4">
								<address itemscope itemtype="http://schema.org/LocalBusiness">
									<a href="/14-redesign/ideas-post.html"><strong itemprop="name">New York</strong></a><br>
									<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<span itemprop="streetAddress">151 Lafayette Street<br>Floor 5</span><br>
										<span itemprop="addressLocality">New York</span>,
										<span itemprop="addressRegion">NY</span>
										<span itemprop="postalCode">10013</span>
									</span><br>
									<span itemprop="telephone">+1.212.981.9499</span>
								</address>
							</div>
							<div class="col-sm-4">
								<address itemscope itemtype="http://schema.org/LocalBusiness">
									<a href="/14-redesign/ideas-post.html"><strong itemprop="name">London</strong></a><br>
									<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<span itemprop="streetAddress">The Tea Building, Studio 7.01<br>56 Shoreditch High Street</span><br>
										<span itemprop="addressLocality">London</span>,
										<span itemprop="postalCode">E1 6JJ</span>
									</span><br>
									<span itemprop="telephone">+44.20.3051.7935</span>
								</address>
							</div>
						</div>
					</div>
				</div>
			</footer>