<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>

		<title>Joel Dombek | 2014 Redesign</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="canonical" href="http://joeldombek.com">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="" />
		<meta name="keywords" content="experience design, brand, design, interactive, studio, agency, san francisco, new york, london, method, method.com" />
		<meta name="robots" content="index, follow" />
		<!-- Facebook Meta -->
		<meta property="og:title" content="Joel Dombek"/>
		<meta property="og:url" content="http://joeldombek.com"/>
		<meta property="og:site_name" content="Joel Dombek"/>
		<meta property="og:type" content="general"/>
		<meta property="og:image" content="http://www.joeldombek.com/img/method.png" />
		<!-- Twitter Meta -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="http://joeldombek.com">
		<meta name="twitter:title" content="Joel Dombek">
		<meta name="twitter:description" content="Joel creates brand experiences across many mediums to help businesses harness the competitive advantage of design. ">
		<meta name="twitter:image" content="http://www.joeldombek.com/img/method.png">
		<!-- Google verification tag -->
		<meta name="google-site-verification" content="aIAGbAM2n7WXi6rAI3g24BHsvbs-FbOnESBKd_NQIXA" />
		<link rel="icon" href="http://method.com/img/favicon.ico">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png">
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://method.com/img/apple-touch-icon-72x72-precomposed.png">
		<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://method.com/img/apple-touch-icon-114x114-precomposed.png">
		<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://method.com/img/apple-touch-icon-120x120-precomposed.png">
		<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://method.com/img/apple-touch-icon-144x144-precomposed.png">
		<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://method.com/img/apple-touch-icon-152x152-precomposed.png">

		<link rel="stylesheet" href="/14-redesign/css/main.css">
		<script src="/14-redesign/js/modernizr.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/main-ie-1.2.11.min.css"><script src="/js/vendor/respond.min.js"></script> <![endif]-->

	</head>